<div>

  <div>
    <div class="product-featured-image">
      {% if selected_variant.featured_media %}
        <img
          src="{{ selected_variant.featured_media | image_url }}"
          width=""
          height=""
          class=""
          alt="">
      {% elsif product.featured_media %}
        <img
          src="{{ product.featured_media | image_url }}"
          width=""
          height=""
          class=""
          alt="">
      {% else %}
        {{ 'product-1' | placeholder_svg_tag }}
      {% endif %}

    </div>
    <div class="image-gallery"></div>
  </div>
</div>