{{ 'astro-main-product-1.css' | asset_url | stylesheet_tag }}
<div>
  <div class="page-width">
    <div class="astro-main-product">
      <h1>Product Page</h1>
    </div>
    {% comment %} product page {% endcomment %}
    {%- liquid
      assign selected_variant = product.selected_or_first_available_variant
    -%}
    <div class="product-page-container">
      <div class="product-gallery">
        {% render 'astro-product-gallery-1'
          , selected_variant: selected_variant
          , product: product %}
      </div>
      <div class="product-info">
        <product-info>
          <p>Product info</p>
        </product-info>
      </div>
    </div>
  </div>
{% comment %} feature image modal {% endcomment %}

</div>

<script defer src="{{ 'astro-main-product-1.js' | asset_url }}"></script>